<%
    var thispage = {
        pagename    : 'Crédits & Mentions légales',
        pagecss     : 'credits',
        pagejs      : 'scriptcredits'
    }
%>

<html lang="fr">
<head>
    <!--META-->
    <%- include('../tpl/head.ejs', { thispage:thispage }) %>
    <title><%= thispage.pagename %> - <%= params.sitename %></title>
</head>
<body>
    <!--HEADER-->
    <%- include('../tpl/header.ejs') %>

    <!--MAIN-->
    <main>
        <!--CRÉDITS ET MENTIONS LEGALES HEADER-->
        <section>
            <div class="container">
                <div id="headerdesc" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="row">
                        <h1>
                            CRÉDITS & MENTIONS LEGALES
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="description">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                <img src="../static/images/common/mascottelogo.png" alt="">
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-7 text-center">
                                <p class="col-12" id="credits">
                                    Le site est la propriété de : Brieuc Caillot & École Webstart ©
                                    <br>
                                    Direction artistique : Brieuc Caillot
                                    <br>
                                    Conception maquettes : Brieuc Caillot
                                    <br>
                                    Développement : Brieuc Caillot
                                </p>
                                <p class="mentionslegales col-12">
                                    <strong>TRAITEMENT DES DONNÉES</strong>
                                    <br><br>La SARL La Mascotte n’enregistre pas d’informations personnelles permettant l’identification, à l’exception des formulaires que l’utilisateur est libre de remplir. L’utilisateur de ce site est notamment informé que les informations qu’il communique sur les formulaires présents sur le site, sont nécessaires pour répondre à sa demande, et sont destinées à la SARL La Mascotte.
                                    <br>Ces informations ne seront pas utilisées sans votre accord, nous les utiliserons seulement à des fins de gestion administrative et commerciale. En cas d’incident lié au dossier de l’utilisateur, un traitement spécifique pourra être réalisé.
                                    <br>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès et de rectification aux dites informations.
                                </p>
                                <p class="mentionslegales col-12">
                                    <strong>COPYRIGHT</strong>
                                    <br><br>Les marques et les logos figurant sur ce site sont des marques déposées par la société La Mascotte. Aucune licence ni droit d’utilisation ne peut être attribué sans le consentement préalable et écrit de son propriétaire, sous peine de contrefaçon (au sens des articles L.713-2 et suivants du Code de la propriété intellectuelle).
                                    <br>L’ensemble des informations présentes sur ce site peut être téléchargé et imprimé sous réserve de n’utiliser les informations qu’à des fins personnelles et en aucune manière à des fins commerciales ; ne pas modifier de telles informations ; reproduire sur toutes copies la mention des droits d’auteur (« le copyright ») de la société La Mascotte.
                                    <br>Toute autre utilisation est strictement interdite.
                                </p>
                                <p class="mentionslegales col-12">
                                    <strong>RESPONSABILITÉS</strong>
                                    <br><br>L’utilisateur s’engage à ne transmettre sur ce site aucune information pouvant entraîner une responsabilité civile ou pénale et s’engage à ce titre à ne pas divulguer via ce site des informations illégales, contraires à l’ordre public ou diffamatoires.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--FOOTER-->
    <%- include('../tpl/footer.ejs') %>

        <!--SCRIPT-->
    <script alt="JQuery Library" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/<%= thispage.pagejs %>.js"></script>
</body>
</html>